$color-primary-blue: #fff;
$color-primary-red: hsl(0, 94%, 66%);

$color-secondary-blue: hsl(229, 13%, 48%);
$color-secondary-red: hsl(229, 31%, 21%);
$color-primary-white: #fff;

//BOX SHADOW

$box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
$box-shadow-2: 0.2rem 3.3rem 3.9rem hsla(229, 13%, 48%, 0.24);

//GRID

$max-width: 114rem;
$gutter-horozontal: 6rem;
$gutter-vertical: 7rem;
