.btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.3s;
  border-radius: 0.7rem;

  @media (max-width: 1102px) {
    & {
      padding: 1.9rem 2.7rem;
      font-size: 1.3rem;
    }
  }
  @media (max-width: 600px) {
    & {
      padding: 1.3rem 1.3rem;
      font-size: 0.9rem;
    }
  }

  &-blue {
    background-color: $color-primary-blue;
    box-shadow: $box-shadow;
    color: blue;
  }
  &-grey {
    color: black;
    background-color: #fff;
    box-shadow: $box-shadow;
  }
}
