.u-mb-small {
  margin-bottom: 2rem !important;
}
.u-mb-medium {
  margin-bottom: 4rem !important;
}
.u-mb-big {
  margin-bottom: 6rem !important;
}

.u-mr-small {
  margin-right: 1rem !important;
}
.u-center-text {
  text-align: center !important;
}
.u-padding-small {
  padding: 5px !important;
}

.u-font-small {
  font-size: 1.3rem !important;
}

// FONT-SIZE
.u-fontSize-small {
  font-size: 4rem !important;
  font-weight: 700 !important;
}

.text-white {
  color: $color-primary-white !important;
}

.text-highlight {
  color: #1177c0;
}
